@use "./variables" as *
  
body
  margin: 0
  font-family: 'National Park', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'!important

@keyframes rotation
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
  
.main-container
  padding: 15px
  padding-top: calc(53px + 15px)
  max-width: 1200px
  margin-left: auto
  margin-right: auto

.login-bg
  display: grid
  place-items: center
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-image: url('/btg-bg.jpg')
  background-size: cover
  background-position: center
  .login-box
    border-radius: 10px
    padding: 15px
    overflow: hidden
    box-sizing: border-box
    width: 400px
    max-width: calc(100vw - 30px)
    max-height: 80vh
    overflow-y: auto
    @include floating-shadow
    @include blur-bg
    .login-title
      font-size: 20pt
      font-weight: 700
      color: $main-color
      text-align: center
    .login-desc
      text-align: center
      padding-top: 10px
      padding-bottom: 15px
      &.error
        color: $primary-red
    .login-button-container
      display: grid
      place-items: center

.loading-icon
  width: 80px
  height: 80px
  border: 5px solid $main-color
  border-bottom-color: transparent !important
  border-right-color: transparent !important
  border-radius: 50%
  display: inline-block
  box-sizing: border-box
  animation: rotation 1s linear infinite
.page-loading
  display: grid
  place-items: center
  height: 80vh
.modal-loading
  text-align: center
  .loading-icon
    margin-top: 10px
    margin-bottom: 15px
  .loading-text
    font-size: 18pt
.main-title
  font-size: 16pt
  font-weight: 600
  color: $main-color
  margin-bottom: 15px
.home-img
  width: 100%
  height: auto
  background-size: contain
.login-form
  text-align: center
.form-note
  font-size: 12pt
  font-weight: 600
  margin-bottom: 15px
.home-content
  display: flex
  flex-direction: column
  justify-content: center
  gap: 15px
  height: 100%
  .content-text
    display: flex
    flex-direction: column
    gap: 5px
    font-size: 16pt
    @include media(xs)
      font-size: 14pt
    .text-title
      font-size: 26pt
      font-weight: 700
      @include media(xs)
        font-size: 18pt
    .text-desc
      font-size: 16pt
      font-weight: 600
      color: $main-color
      @include media(xs)
        font-size: 18pt
  .content-signup
    button
      font-size: 20pt
      height: auto
      font-weight: 700
      padding: 10px 20px
  .content-bottom
    display: inline-flex
    gap: 15px
.home-hero-center
  @include media(xs)
    margin-top: 20px
  img
    width: 100%
    height: auto